.info{
    background:rgb(236, 236, 236);
    color:rgb(59, 167, 64);
    padding: 0.05rem;
    font-weight: 500;
}

.info p{
    font-size:20px;
    font-weight: 600;
}

.error{
    background:rgb(236, 236, 236);
    color:rgb(169, 47, 47);
    padding: 0.05rem;
    font-weight: 500;
}

.error p{
    font-size:20px;
    font-weight: 600;
}